<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#">Employee App</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <%for(i=0;i<nav.length;i++){%>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="<%=nav[i].link%>"><%=nav[i].Home%></a>
              </li>
              <%}%>
            </ul>
              
          </div>
        </div>
      </nav>
      
  <div class="container mt-5">
    <h1 class="mb-4" style="color: blue;">Employee List</h1>
    <div class="row">
      <% employees.forEach(employee => { %>
      <div class="col-md-4" style="color: white;">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= employee.employeeName %></h5>
            <p class="card-text">Designation: <%= employee.employeeDesignation %></p>
            <p class="card-text">Location: <%= employee.employeeLocation %></p>
            <p class="card-text">Salary: <%= employee.employeeSalary %></p>
            
              <!-- Update Button -->
              <a href="/update/<%= employee._id %>" class="btn btn-primary">Update</a>
              <!-- Delete Button -->
              <form action="/delete/<%= employee._id %>" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
           
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
        

      
</body>
</html>